<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <!--settings-->
    <settings>
        <!-- 是否开启自动驼峰命名规则 -->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->

        <!-- 全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存。 默认值 true-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 配置实体类的别名 -->
    <typeAliases>
        <!-- <typeAlias type="com.atguigu.day03_mybaits.test1.User" alias="_User"/> -->
        <package name="com.bjhl.mybaits.study.bean"/>

        <!-- demo8 -->
        <package name="com.bjhl.mybaits.study.demo8_advance_query.bo"/>
    </typeAliases>

    <!--
        development : 开发模式
        work : 工作模式 (不用care )
     -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- demo1 -->
        <mapper resource="com/bjhl/mybaits/study/demo1_helloworld/UserMapper.xml"/>

        <!-- demo2 -->
        <mapper resource="com/bjhl/mybaits/study/demo2_original_dev/UserMapper.xml"/>

        <!-- demo3 -->
        <mapper class="com.bjhl.mybaits.study.demo3_annotation_dev.UserMapper"/>

        <!-- demo4 -->
        <mapper class="com.bjhl.mybaits.study.demo4_dao_dev.UserDao"/>
        <mapper resource="com/bjhl/mybaits/study/demo4_dao_dev/UserMapper.xml"/>

        <!-- demo5 -->
        <mapper class="com.bjhl.mybaits.study.demo5_dynamic_sql.UserDao"/>
        <mapper resource="com/bjhl/mybaits/study/demo5_dynamic_sql/UserMapper.xml"/>

        <!-- demo6 -->
        <mapper class="com.bjhl.mybaits.study.demo6_config.UserDao"/>
        <mapper resource="com/bjhl/mybaits/study/demo6_config/UserMapper.xml"/>

        <!-- demo9_1 -->
        <mapper class="com.bjhl.mybaits.study.demo9_1_cache_local.UserDao"/>
        <mapper resource="com/bjhl/mybaits/study/demo9_1_cache_local/UserMapper.xml"/>

        <!-- demo9_2 -->
        <mapper class="com.bjhl.mybaits.study.demo9_2_cache_distribute_redis.UserDao"/>
        <mapper resource="com/bjhl/mybaits/study/demo9_2_cache_distribute_redis/UserMapper.xml"/>

        <!-- demo8 *****package 必须在mappers 最后面**** -->
        <!--
            将包内的映射器接口实现全部注册为映射器
            http://www.mybatis.org/mybatis-3/zh/configuration.html#mappers

            注意：在如果只用package 去扫描的话，接口类名必须和mapper.xml 文件名称一致
            在整合spring-mybatis 可以不要求一样

            spring 整合mybatis
            <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="mainDataSource"/>
                <property name="configLocation" value="classpath:mybatis-config.xml"/>
                <property name="mapperLocations">
                    <array>
                        <value>classpath*:mapper/**/*.xml</value>
                    </array>
                </property>
            </bean>

            <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
                <property name="basePackage">
                    <value>
                        com.baijia.growthbase.dal.common.mapper.dao,
                        com.baijia.growthbase.dal.fenxiao.dao,
                        com.baijia.growthbase.dal.coursesystem.common.dao,
                        com.baijia.growthbase.dal.coursesystem.core.dao,
                        com.baijia.growthbase.dal.coursesystem.pintuan.dao,
                        com.baijia.growthbase.dal.contenthouse.dao,
                        com.baijia.growthbase.dal.microweb.dao,
                        com.baijia.growthbase.dal.coursesystem.assist.dao
                    </value>
                </property>
            </bean>
        -->
        <package name="com.bjhl.mybaits.study.demo8_advance_query.dao" />


    </mappers>
</configuration>
